.box_floor {
    
}

.floor_left {

    background-color: lightgray;

    position: absolute;
    bottom: -40%;
    left: 0;

    z-index: -1;

    height: 66%;
    width: 60%;

    transform: skewY(-11deg);

}

.floor_right {

    background-color: lightgray;

    position: absolute;
    bottom: -40%;
    right: -20%;

    z-index: -1;

    height: 66%;
    width: 60%;

    transform: skewY(11deg);

}