form {
    background-color: red;

    width: 100%;
    height: 80%;
}

input {
    background-color: lightcoral;

    margin: 0%;
    margin-block: .5em;
    padding: 0%;
    padding-inline: 5%;

    width: 100%;
    max-width: 100%;
    height: 14%;
    max-height: 14%;

    border-radius: 0%;
    border: 0%;

    box-sizing: border-box;

    font-size: 1.5em;

}

input::placeholder {

    font-size: 1em;
    font-style: italic;

}

input:hover, input:focus {
    background-color: #FFFFFF;
    border-radius: 0%;

    box-shadow: 0 .5em .8em hsl(0, 0%, 0%, .1) inset, 0 0 8px hsl(0, 0%, 0%, .3);

}

input:focus {
    border-radius: 0%;
    
    width: 99.5%;

 }


/* This box will take the whole screen so we can disable everything 
while user uses the form */

.box_form {

    background-color: hsl(240, 100%, 0%, .8);

    position: absolute;
    left: 0%;
    top: 0%;

    width: 100%;
    height: 100%;

    /* z-indez 10 will help us disable all other objects that are 
    below the form */

    z-index: 10;

    transition: .5s;

}

.form_container {
    background-color: blue;

    width: 55%;
    height: 80%;

    border-radius: var(--border-rad-2);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.close_form_button {
    background-color: whitesmoke;

    margin: 1%;

    height: 2vw;
    width: 2vw;

    cursor: pointer;

}

.form_button {
    background-color: hsl(0, 0%, 10%);

    font-size: 1.2em;
    letter-spacing: .15em;
    color: whitesmoke;

    height: 10%;
    width: 25%;
    margin-block: 1em;

    cursor: pointer;

}

.form_button:hover {
    
    background-color: hsl(0, 0%, 20%);
    box-shadow: 0 .5em .8em hsl(0, 0%, 0%, .1) inset, 0 0 8px hsl(0, 0%, 0%, .3);
}

/* 1200PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 1200px) {
    .form_container {
        width: 70%;
    }

    .close_form_button {
        height: 3vw;
        width: 3vw;
    
    }

}

/* 500PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 600px) {
    input {

      text-align: center;
    
    }

    .form_container {

      width: 100%;
      height: 100%;
 
      border-radius: 0%;
    
    }  

    .close_form_button {
      height: 7vw;
      width: 7vw;
    
    }

    .form_button {
      letter-spacing: .25em;

      width: 50%;
    }
}

