/* HERE WE'RE DOING THE BASIC AND COMMON CSS ANIMATIONS */

/* -- MOVEMENT */

/* ITEM FROM TOP TO BOTTOM */
#animItemFallingFromTop {
    animation: fallFromTop .5s normal;
}

@keyframes fallFromTop {
    0% {
        transform: translateY(-101%) ;
    }
    100% {
        transform: translateY(0em);
    }
}
    

/* ITEM FROM BOTTOM TO TOP */
#animItemComingFromBottom {
    animation: comeFromBottom .5s normal;
}

@keyframes comeFromBottom {
    0% {
        transform: translateY(101%) ;
    }
    100% {
        transform: translateY(0em);
    }
}
    
/* -- OPACITY */

/* TRANSITION FROM 0 OPACITY TO 1 */
#animReverseFade {
    animation: reverseFade .5s normal;
}

@keyframes reverseFade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
