.home {
    background-color: unset;
    background-image: url("../../assets/images/home.png");

    background-position: center;
    background-position-y: top;
    background-repeat: no-repeat;

    min-height: 100%;
    min-width: 100%;

    z-index: 3;
}

.background_sides {
    background: linear-gradient(90deg, black 10%, transparent, transparent, transparent, black 90%);

    position: absolute;
    z-index: 4;

    height: 100%;
    width: 100%;
}

.background_cover {
    height: 100%;
    width: 100%;

    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(hsl(157, 100%, 54%, .5), hsl(181, 100%, 41%, .5));
    background-color: hsl(157, 100%, 49%, .5);
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;


    /* background-position-y: top; */

    position: absolute;
    z-index: 4;
}

.welcome_text {
    text-align: left;
    font-size: 3em;
    font-family: 'Oswald', sans-serif;

    /* position: absolçute; */
    z-index: 6;

}

.welcome_subtext {
    z-index: 6;
    font-family: 'Montserrat', sans-serif;


}

.subtext_join {
    margin-top: 5%;
    letter-spacing: .15em;

}

.subtext_quote {
    margin-top: -1%;
    font-size: 1.2em;
    font-style: italic;
}

.temporaryBtn {
    background-color: green;

    height: 5em;
    width: 5em;

    cursor: pointer;

    z-index: 7;
}

.btn_register {
    background-color: blue;

    top: 50%;

    z-index: 7;
}

/* 1500PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 1500px) {
    .background_sides {
        background: transparent;

    }
}

/* 800PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 800px) {

    .welcome_text {
        margin-inline: 5%;

    }
}

/* 600PX WIDTH SCREEN ADAPTIVE MEDIA */
@media screen and (max-width: 600px) {

    .home {
        background-position-x: 55%;
    }

}