.temporaryBtn {
    background-color: green;
    
    height: 5em;
    width: 5em;

    position: absolute;
    right: 0;
    top: 0;

    cursor: pointer;
}

.btn_register {
    background-color: blue;
    
    top: 50%;
}