
ul {

    position: absolute;
    top: 0%;
    left: 0%;

    margin: 0%;
    padding: 0%;

    width: 20%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

ul li {

    color: black;

    list-style: none;
    padding: 1em;
    
    width: fit-content;
    height: 1em;
    
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .5s;

    cursor: pointer;

    margin-block: .8em;

}

ul li:last-child {
    margin-bottom: 0%;
}

ul li:hover {

    background-color: hsl(145, 51%, 50%);

}

/* 1200PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 1200px) {
    ul {
        width: 17.5%;
    }
}

/* 500PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 600px) {
  ul {
    background-color: blue;

    top: unset;
    bottom: 0%;
    left: 0%;
    /* right: 0%; */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    margin: 0%;

    z-index: 5;

    }
  
  ul li {
      margin-inline: .8em;
  }

  ul li:last-child {
      margin-bottom: .8em;
    }
}

/* 360PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 500px) {


    ul li {

        color: black;
    
        list-style: none;
        padding: 1em;
        padding-inline: 0em;
        
        width: 100%;
        height: 1em;
        
        position: relative;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        transition: .5s;
    
        cursor: pointer;
    
        margin-block: .2em;
    
    }    
  }

