@import url("../src/assets/css/animations.css");

.App {
  text-align: center;
}

.box_basic_container {

    padding-top: 11%;

}

.board {
    background-color: red;

    position: absolute;
    left: 15%;

    width: 37em;
    height: 20em;

    transform: skewY(-11deg);

    border-radius: var(--border-rad-2);

}

