@import url("../src/assets/css/animations.css");

.App {
  text-align: center;

  height: 100vh;
  width: 100vw;
}

/* GLOBAL COMMON CLASSES */

/* POSITIONING */
/* centered children */

.centered_children {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* BOXES */

.box_basic_container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

}

.board {
    background-color: red;

    width: 60%;
    height: 100%;

}

/* 1200PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 1200px) {
    .board {
        margin-left: 15%;
        width: 80%;
    }
}

/* 500PX WIDTH SCREEN ADAPTIVE MEDIA */

@media screen and (max-width: 600px) {
  .board {
      margin-left: 0%;
      left: 0%;
      width: 100%;
  }
}




