:root {

  --transition-1: .2s;
  --transition-2: .5s;
  --transition-3: .8s;

  --border-rad-1: .2em;
  --border-rad-2: .4em;
  --border-rad-3: .6em;
  
}


body {

  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

  overflow: hidden;

}