:root {

  --transition-1: .2s;
  --transition-2: .5s;
  --transition-3: .8s;

  --border-rad-1: .2em;
  --border-rad-2: .4em;
  --border-rad-3: .6em;

  --board-width-Max: 60vw;
  --board-width-1200px-br: 80vw;
  --board-width-600px-br: 100vw;
  
  --card-height-Max: 38vw;
  --card-height-1200px-br: 45vw;
  --card-height-600px-br: 100vw;
}


body {

  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

  overflow: hidden;

}